.custom-footer {
    background: #f7f7fc;
    padding: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    font-family: Arial, sans-serif;
}

.footer-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-logo {
    height: 45px;
}

.logo-section p {
    font-size: 14px;
    color: #777;
}

.version-section h4,
.about-section h4 {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.version-section p {
    font-size: 14px;
    color: #666;
}

.about-section a {
    color: #777;
    font-size: 14px;
    text-decoration: none;
}

.about-section a:hover {
    text-decoration: underline;
}